@charset 'UTF-8'; 

:root {
    --redpokeball: #CE2211;
    --orange: #D5A100;
    --grayBG: #DFDFDF;
    --blue: #0075BE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    gap: 2rem;

    background-color: var(--grayBG);
}

.maxWidth {
    max-width: 800px;
}

header {
    height: 100px;
    background-color: #000;
}

header > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: #fff;
}

.logo {
    width: 170px;
    height: 100%;
    background-image: url(../imgs/pokemon-logo.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 8px;
}

main {
    width: 100%;

    display: flex;
    flex-flow: column;
    gap: 1.5rem;

    margin: auto;
    padding: 50px 100px;
    border-radius: 10px ;

    background-color: #fff;
    box-shadow: 0px 0px 2px 0px black;
}

section {
    width: 100%;
}

form {
    width: 100%;
    margin: 0 ;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
form input, form button {
    height: 50px;
    border-radius: 50px;
    border: 3px solid var(--blue);
}
form input {
    width: 300px;

    text-indent: 1rem;
}
form button {
    flex: 0 0 100px;
    background-color: var(--blue);

    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.answer img, .img{
    width: 120px;
    height: 120px;
    border-radius: 15px;
    border: 2px solid black;
    transform: scaleX(-1);
    background-position: center center;
    background-size: cover;
}

.answer p {
    padding-bottom: 10px;
}
.verticalLine {
    border-left: 1px solid; 
    border-color: var(--redpokeball);
    height: 180px;
}

.capitalize{
    text-transform: capitalize;
}

.evolution ul {
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.evolution li{
    padding: 8px;
    margin-bottom: 8px;

    border-radius: 15px;
    border: 2px solid black;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    flex: 0 170px;
}

.evolution .img {
    width: 100px;
    height: 100px;
}

footer{
    text-align: center;
    font-size: 0.8rem;
}